<div class="inner-container">
    <h1 class="title">Select Current Establishment</h1>
    <div class="row">
        <ng-container *ngFor="let resturant of resturantsList">
            <div [routerLink]="['/employees', resturant.id]" class="custom-card col-lg-4 col-sm-6">
                <div class="custom-card-body" [ngStyle]="{'background':'url('+resturant.img+')'}">
                    <div class="body-card-inner">
                        <h1>{{resturant.name}}</h1>
                        <p *ngIf="resturant.location" class="location"><i class="fa fa-map-marker"
                                aria-hidden="true"></i> {{resturant.location}}</p>
                        <p *ngIf="resturant.phoneNbr" class="phoneNbr"><i class="fa fa-phone" aria-hidden="true"></i>
                            {{resturant.phoneNbr}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>