<div class="inner-container">
    <div class="custom-card">
        <div class="custom-card-body">
            <div class="custom-card-header is-summary">
                <div class="invoice-icon">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <h1>Facture</h1>
                </div>
                <div class="invoice-details">
                    <h1>Restaurant : {{restaurant?restaurant.name:''}} </h1>
                    <h2>Employé : {{username}}</h2>
                    <h2>Date&Heure : {{dateTime}}</h2>
                    <!-- <h2>Adresse : {{restaurant?restaurant.address:''}}</h2> -->
                </div>
            </div>
            <div class="body-card-inner">
                <div class="banknote-CHFs">
                    <table style="margin-bottom: 10px;">
                        <tr>
                            <th>Monnaie</th>
                            <th>Nombre de pièces</th>
                            <th>Valeur Initial</th>
                            <th>Valeur Restant</th>
                        </tr>
                        <tr *ngFor="let banknote of banknotesObj;let idx=index;">
                            <td>{{banknote.label}}</td>
                            <td>{{banknote.nbr ? banknote.nbr : 0}}</td>
                            <td>{{getInitialValue(banknote, idx)}} CHF</td>
                            <td>{{getBanknoteTotal(banknote, idx)}} CHF</td>
                        </tr>
                        <tr style="position:relative; top: 10px;">
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600;">Total restant</td>
                            <td style="font-weight: 600;">{{getTotalBanknotes()}} CHF</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="totals-wrapper">
                    <table>
                        <tr>
                            <td>Total <strong>Initial</strong></td>
                            <td></td>
                            <td>{{getTotalBanknotesInitial()}} CHF</td>
                        </tr>
                        <tr>
                            <td>Total <strong>Fonds de caisse</strong></td>
                            <td></td>
                            <td>{{getTotalFondDeCaisse()}} CHF</td>
                        </tr>
                        <tr>
                            <td>Total <strong>Restant</strong></td>
                            <td></td>
                            <td>{{getTotalBanknotes()}} CHF</td>
                        </tr>
                        <tr *ngFor="let total of fields">
                            <td>{{total.label}}</td>
                            <td></td>
                            <td>{{getTotalFieldVal(total.value)}} CHF</td>
                        </tr>
                        <tr style="background-color: #2065a810;">
                            <td style="font-weight: 600;">Total commission</td>
                            <td></td>
                            <td style="font-weight: 600;">{{getTotalCharges()}} CHF</td>
                        </tr>
                        <tr style="background-color: #eeeeee50;" *ngFor="let charge of bilanObj.charges">
                            <td></td>
                            <td>{{charge.label}}</td>
                            <td>{{charge.value}} CHF</td>
                        </tr>
                        <tr style="background-color: #2065a810;">
                            <td style="font-weight: 600;">Total avance employé</td>
                            <td></td>
                            <td style="font-weight: 600;">{{getTotalAdvances()}} CHF</td>
                        </tr>
                        <tr style="background-color: #eeeeee50;" *ngFor="let advance of bilanObj.advances">
                            <td></td>
                            <td>{{advance.label}}</td>
                            <td>{{advance.value}} CHF</td>
                        </tr>
                        <tr style="background-color: #2065a810;">
                            <td style="font-weight: 600;">Total paiement sans facture</td>
                            <td></td>
                            <td style="font-weight: 600;">{{getTotalNonFactures()}} CHF</td>
                        </tr>
                        <tr style="background-color: #eeeeee50;" *ngFor="let nFacture of bilanObj.nonFactures">
                            <td></td>
                            <td>{{nFacture.label}}</td>
                            <td>{{nFacture.value}} CHF</td>
                        </tr>
                        <!-- <tr style="position:relative; top: 10px;">
                            <td></td>
                            <td style="font-weight: 600;">Revenu total</td>
                            <td style="font-weight: 600;">{{getTotalIncome()}} CHF</td>
                        </tr> -->
                    </table>
                </div>
            </div>

            <div class="custom-card-footer no-print">
                <div class="invoice-icon">
                    <!-- <button class="no-print is-summary" (click)="printPage()">Imprimer le rapport</button> -->
                    <button [disabled]="!canSubmit" class="no-print is-summary saveconf" (click)="SaveConf()">Valider le
                        rapport</button>
                </div>
                <div class="invoice-details">
                    <h2><i style="margin-right: 10px;" class="fa fa-money" aria-hidden="true"> </i> Total Restant</h2>
                    <h1>{{getTotalBanknotes()}} CHF</h1>
                </div>
            </div>
        </div>
    </div>
</div>