.custom-card {
    height: auto;
    max-width: 750px;
    margin: auto;
    margin-bottom: 5px;

    hr {
        border: 1px solid black;
        background: black;
    }

    h1 {
        text-align: center;
    }

    .custom-card-header {
        background: #2065a8;
        color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 35px;
    }

    .custom-card-footer {
        background: #6a96c1;
        color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 35px;
    }

    .custom-card-body {
        .body-card-inner {
            position: static;
            height: auto;
            background-color: white;
            border-radius: 0;
            width: 100%;
            padding: 25px 35px;
        }

        table {
            width: 100%;

            td {
                overflow-wrap: anywhere;
            }

            tr td:nth-child(1) {
                width: 45%;
            }

            tr td:nth-child(2) {
                width: 35%;
            }

            tr td:nth-child(3) {
                width: 15%;
            }
        }
        
    }

    .invoice-icon {
        width: 30%;
        vertical-align: top;
        display: inline-block;

        .fa-credit-card {
            font-size: 5.5rem;
            text-align: center;
            display: block;
        }
    }

    .invoice-details {
        width: 70%;
        vertical-align: top;
        display: inline-block;

        h1,
        h2,
        p {
            text-align: end;
        }

        h1 {
            font-size: 1.8rem;
            margin-bottom: 25px;
        }

        h2 {
            font-size: 1.2rem;
        }
    }
}

button.no-print {
    background: #2065a8;
    padding: 9px 10px;
    margin: 1px;
    border-radius: 10px;
    border: none;
    width: 230px;
    color: white;
    text-align: center;
}

button.saveconf {
    background: #5ba820;
}

.custom-card .custom-card-body .body-card-inner .banknote-CHFs {
    table {
        width: 100%;

        td {
            overflow-wrap: anywhere;
        }

        tr td:nth-child(1) {
            width: 34%;
        }

        tr td:nth-child(2) {
            width: 25%;
        }

        tr td:nth-child(3) {
            width: 25%;
        }

        tr td:nth-child(4) {
            width: 20%;
        }
    }
}

.custom-card .custom-card-body .body-card-inner .banknote-CHFs:not(.registerClass) {
    table {
        width: 100%;

        td {
            overflow-wrap: anywhere;
        }
        
        tr td:nth-child(1){
            width: 15%;
        }
        tr td:nth-child(2),
        tr th:nth-child(2) {
            width: 25%;
            text-align: center;
        }

        tr td:nth-child(3),
        tr th:nth-child(3) {
            width: 30%;
            text-align: end;
        }

        tr td:nth-child(4),
        tr th:nth-child(4) {
            width: 30%;
            text-align: end;
        }
    }
}

@media print {
    .no-print {
        display: none;
    }

    .custom-card .custom-card-body {
        box-shadow: none;
        padding: 0 35px;
        box-sizing: border-box;
        border: 1px solid black;
    }

    .custom-card-footer {
        padding-top: 5px !important;
        padding-bottom: 10px !important;
    }

    .custom-card-header {
        .invoice-icon {
            display: none !important;
        }

        .invoice-details {

            h1,
            h2 {
                font-size: 1.2rem !important;
                margin: 6px !important;
            }

            width: 100% !important;
        }

        padding-top: 10px !important;
        padding-bottom: 0 !important;
    }

    .body-card-inner {
        padding-top: 10px !important;
    }
}

button:disabled {
    opacity: 0.4;
    background-color: #4c684d;
}

.totals-wrapper table{
    tr td:nth-child(3) {
        text-align: end;
    }
}