<div class="inner-container">
    <h1 class="title">Select Current Establishment</h1>
    <div class="row">
        <div class="custom-card">
            <div class="custom-card-body">
                <div class="body-card-inner">
                    <h1>{{website.label}}</h1>
                    <input type="number" min="0" name="{{website.fieldName}}" [(ngModel)]="website.value">
                </div>
            </div>
        </div>
        <div class="custom-card" [ngStyle]="{'height':getChargesHeight()}">
            <div class="custom-card-body">
                <div class="body-card-inner" [ngStyle]="{'height':getChargesHeight()}">
                    <h1>total charges : {{getTotalCharges()}}</h1>
                    <div class="charge-wrapper" *ngFor="let charge of charges; let idx = index;">
                        <button class="deleteCharge" (click)="deleteCharge(idx)"><i class="fa fa-times"></i></button>
                        <h1>{{charge.label}}</h1>
                        <input type="number" min="0" name="{{charge.fieldName+'_charge'}}" [(ngModel)]="charge.value">
                    </div>
                    <div class="newcharge-wrapper">
                        <input type="text" placeholder="Charge label" name="newCharge_label" [(ngModel)]="newCharge.label">
                        <input type="number" min="0" placeholder="Charge cost" name="newCharge_value" [(ngModel)]="newCharge.value">
                        <button class="addCharge" (click)="addCharge()"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card-body">
                <div class="body-card-inner">
                    <h1>{{advance.label}}</h1>
                    <input type="number" min="0" name="{{advance.fieldName}}" [(ngModel)]="advance.value">
                </div>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card-body">
                <div class="body-card-inner">
                    <h1>{{tpe1.label}}</h1>
                    <input type="number" min="0" name="{{tpe1.fieldName}}" [(ngModel)]="tpe1.value">
                </div>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card-body">
                <div class="body-card-inner">
                    <h1>{{tpe2.label}}</h1>
                    <input type="number" min="0" name="{{tpe2.fieldName}}" [(ngModel)]="tpe2.value">
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn-submit">Validate</button>
    </div>
</div>