html {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
    padding: 0;
    margin: 0;
}

body {
    transition: 1s;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(#105a44, #1c4001);
    background: url(https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

#notification-container .notification {
    display: block;
    position: absolute;
    width: 230px;
    top: -150px;
    right: 20px;
    opacity: 0.8;
    border-radius: 15px;
    animation-name: slideinTop;
    animation-duration: 0.85s;
    animation-fill-mode: forwards;
    padding: 10px 20px;
}

#notification-container {
    .notification.error {
        background: #ff7466;
    }

    .notification.success {
        background: #66ff80;
    }

    .notification.warning {
        background: #ffec66;
    }

    .notification {
        p.body {
            font-size: 0.85rem;
            margin-bottom: 5px;
        }

        h3.title {
            font-size: 1.3rem;
            font-weight: 400;
        }

        .btn {
            position: absolute;
            top: 5px;
            right: 10px;
            padding: 0;
            font-size: 1rem;
        }
    }
}

.inner-container{
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 15px 50px;
    h1.title{
        font-weight: 500;
        color: white;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        margin: 15px;
    }
}

.custom-card {
    height: 400px;
    padding: 7px;
    cursor: pointer;

    .custom-card-body {
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        border-radius: 20px;
        height: 100%;
        position: relative;
        box-shadow: 0 10px 15px 2px #0e0e0e;

        .body-card-inner {
            position: absolute;
            height: 120px;
            background-color: white;
            border-radius: 20px;
            width: calc(100% - 30px);
            padding: 15px;
            left: 15px;
            bottom: 15px;

            h1 {
                font-weight: 300;
                margin: 2px;
                font-size: 1.5rem;
                background-color: #b1f44c;
                padding: 5px 10px;
                border-radius: 10px;
                text-transform: capitalize;
            }
            p{
                color: #3c3c3c;
                font-size: 0.9rem;
                text-align: end;
                margin: 0;
                margin-right: 5px;
            }
        }
    }

}