<div class="wrapper-container">
    <div class="header-div no-print">
        <button *ngIf="page_idx" (click)="page_idx=page_idx-1" class="navigationBtn left"><i class="fa fa-arrow-left"></i></button>
        <h1 (click)="logout()"><i class="fa fa-user"></i> Se déconnecter</h1>
    </div>
    <div class="wrapper-body">
        <app-banknote-summary *ngIf="page_idx==0" [banknotes]="banknotes" (onSubmit)="page_idx=1"></app-banknote-summary>
        <app-bilan *ngIf="page_idx>=1 && page_idx<4" [bilanObj]="bilanObj" [page_idx]="page_idx" (pageIdx_change)="onPageIdxChange($event)" (onSubmit)="page_idx=4"></app-bilan>
        <app-cash-register-handler *ngIf="page_idx==4" [banknotesObj]="banknotes" (onSubmit)="coinsToLeave=$event; page_idx=5"></app-cash-register-handler>
        <app-summary *ngIf="page_idx==5" [bilanObj]="bilanObj" [banknotesObj]="banknotes" [coinsToLeave]="coinsToLeave" (onSubmit)="page_idx=5"></app-summary>
    </div>
</div>