<div class="inner-container">
    <div class="custom-card">
        <div class="custom-card-body">
            <div class="custom-card-header">
                <h1>You Should keep the following cash in the cash register</h1>
            </div>
            <div class="body-card-inner">
                <div class="banknote-francs">
                    <table style="margin-bottom: 10px;">
                        <tr>
                            <th>Currency</th>
                            <th>Default</th>
                            <th>Owned</th>
                            <th>To keep</th>
                        </tr>
                        <tr *ngFor="let curr of banknotesObj; let idx=index">
                            <td>{{banknotesObj[idx].label}}</td>
                            <td>{{defaultVals[idx]}}</td>
                            <td>{{ownedToUse[idx]}}</td>
                            <td>{{resToUse[idx]}}</td>
                        </tr>
                    </table>
                </div>
                <h1 class="totalH1">Default total : {{defaultTotal}}</h1>
                <h1 class="totalH1">Total kept : {{totalKept}}</h1>
            </div>
            <div class="custom-card-footer">
                <div class="invoice-icon">
                    <button (click)="submit()" class="no-print saveconf">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>