<div class="inner-container">
    <div class="custom-card">
        <div class="custom-card-body">
            <div class="custom-card-header">
                <h1>Fond de la caisse final</h1>
            </div>
            <div class="body-card-inner no-padding">
                <div class="banknote-CHFs registerClass">
                    <table style="margin-bottom: 10px;">
                        <tr>
                            <th>Monnaie</th>
                            <th>Défaut</th>
                            <th>Possédé</th>
                            <th>A garder</th>
                        </tr>
                        <tr *ngFor="let curr of banknotesObj; let idx=index">
                            <td>{{banknotesObj[idx].label}}</td>
                            <td>{{defaultVals[idx]}}</td>
                            <td>{{ownedToUse[idx]}}</td>
                            <td>{{resToUse[idx]}}</td>
                        </tr>
                    </table>
                </div>
                <h1 class="totalH1">Total par défaut : {{defaultTotal}}</h1>
                <h1 class="totalH1">Total gardé : {{totalKept}}</h1>
            </div>
            <div class="custom-card-footer">
                <div class="invoice-icon">
                    <button (click)="submit()" class="no-print saveconf">Terminer</button>
                </div>
            </div>
        </div>
    </div>
</div>